/* all items in this file pertain to elements in base.html only */

body, html {
  height: 100%;
  margin: 0;
}

body > div {
  margin-top: 2.5em;
}

nav {
  background-color: SteelBlue;
  height: 1.5em;
  padding: 0.5em;
  text-align: left;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a, nav p {
  text-decoration: none;
  display: inline-block;
  margin: 0 .25em;
  color: White;
  font-family: Georgia;
  vertical-align: middle;
}

.nav-dropdown {
  float: left;
  overflow: hidden;
}

.nav-dropdown a {
  font-size: 1em;
  color: black;
  text-align: center;
  padding: .5em 1em;
  margin: 0;
  text-decoration: none;
}

.nav-dropdown-items {
  display: none;
  position: absolute;
  background-color: White;
  min-width: 8em;
  z-index: 1;
  border: 1px solid black;
  border-radius: 3px;
}

.nav-dropdown-items a {
  float: none;
  color: LightSlateGrey;
  padding: 0.5em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-items a:hover {
  color: White;
  background-color: LightSlateGrey;
}

.nav-dropdown:hover .nav-dropdown-items {
  display: block;
}
