<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/base.css">
    <link type="text/css" rel="stylesheet" href="/static/common.css">
    {% block css %}
    {% endblock %}
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    {% block js %}
    {% endblock %}
  </head>
  <body>
    <nav>
      <div class="nav-dropdown">
        <p class="nav-button">&#9776;</p>
        <div class="nav-dropdown-items">
          {% for app, name in APPS %}
            <a href="{% url app|add:':index' %}">{{ name }}</a>
          {% endfor %}
          <a href="{% url 'admin:index' %}"class="admin">Admin</a>
        </div>
      </div>
      <a href="/index">Home</a>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
