@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body {
  /*font-family: Georgia, sans-serif;*/
  /*font-family: sans-serif;*/
  font-size: 0.95em !important;
  position: relative;
  display: inline-block;
  justify-content: center;
  left: 20%;
  width: 1100px;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body div {
  border: 1px solid #004E89;
  border-radius: 3px;
  padding: 2px;
  margin: 5px;
}

table {
  position: relative;
  margin: auto;
}

td, th {
  border: 1px solid #004E89;
  border-radius: 3px;
  width: 108px;
  justify-content: center;
}

.input {
  background-color: #FFF
}

.left, .right {
  position: relative;
  height: 520px;
  border: none;
  margin: 0;
  float: left;
}

.mid {
  margin: 0;
  border: none;
  position: relative;
}

.header, .button_bar {
  background-image: url("banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  background-position: 25% 35%;
}

.header h1 {
  color: #00264B;
  font-family: 'Work Sans', 'Roboto Condensed', Courier;
  font-size: 40px;
  margin: 15px 0;
}

.button_bar {
  display: block;
  position: relative;
  clear: both;
  text-align: center;
  justify-content: center;
  height: 46px;
  background-position: 50% 80%;
}


.button {
  float: left;
  border: 1px solid #004E89;
  border-radius: 2px;
  height: 2em;
  width: 5em;
  background-color: white;
  z-index: 1
}

.button:hover, .switch:hover, .load td:hover {
  cursor: pointer;
  cursor: hand;
}

.button:active {
  background-color: #249AC6;
}

.button p {
  margin: 0.5em;
}

.bay {
  height: 20px;
}

#js, #group, #bay {
  position: relative;
  height: 22px;
  padding: 2px;
  top: 2px;
}

#bay {
  top: -5px;
}

#holes_table, #slab_table {
  top: -20px;
}

#holes {
  top: 5px;
  height: 310px;
}

#holes_table td {
  padding: 1px 0 0 2px;
}

#holes_table td:first-child, #holes th:first-child {
  text-align: right;
  width: 50px;
}

#holes_table th:first-child {
  border: none;
}

.splice {
  width: 100%;
}

.input {
  margin: 2px auto;
}

.left > div {
  clear: left;
  margin: 12px 5px;
  position: relative;
  top: -5px;
  width: 452px;
}

#global {
  width: 75%;
  justify-content: center;
  position: relative;
  height: 70px;
  top: -20px;
  margin: 5px auto;
}

#global_table td:first-child {
  width: 110px;
}

#global table {
  display: block;
  position: relative;
  text-align: center;
  top: -30px;
  margin: 5px;
  border-spacing: 20px 0;
}

#global td {
  border: none;
  margin: auto 5px;
  width: 30px;
}

.switch  {
  text-align: center;
  height: 20px;
  width: 48px;
  border-radius: 0;
  margin: 2px 0;
  float: left;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	transition: all ease 1s;
}

.switch p {
  position: relative;
  top: -13px;
}

.fsh {
  border-right: none;
}

.ra {
  border-left: none;
}

.toggleSelected {
    box-shadow: inset 100px 0 0 0 rgb(104,185,255);
}

#slab {
  top: 15px;
  display: block;
  height: 91px;
  margin: auto 5px;
}

#request_data {
  height: 42px;
}

#request_data div {
  display: inline-block;
}

#request_data textarea {
  margin: auto 0;
}

.fra_header {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 18px;
  z-index: 1;
  background-color: #FFF;
  width: auto;
  height: auto;
  /*background-color: transparent !important;*/
}

h4 {
  margin: 0;
}

h3 {
  margin: 8px;
}

.right div {
  justify-content: center;
  margin: 5px;
}

.notes {
  position: relative;
  text-align: center;
  background-color: #FFF;
}

textarea {
  resize: none;
}

.notes textarea {
  margin: 3px;
  overflow: scroll;
}

#test {
  float: right;
}

#blanket {
  border: none;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.75;
  justify-content: center;
  z-index: 10;
}

.popup, .load {
  visibility: hidden;
  background-color: white;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: auto;

  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
  z-index: 15;
}

.popup .button, .load .button {
  position: relative;
  display: inline-block;
  float: none;
}

.popup_input {
  margin: 15px 0 25px 0;
}

.disabledButton {
  border-color: grey;
  color: grey;
}

.disabledButton:active {
  background-color: white;
}

.load:not(#blanket) {
  background-color: white;
  width: auto;
  height: auto;
  padding: 20px 50px;
  z-index: 12;
}

.load h5 {
  margin-top: 10px;
}

.load table {
  border-collapse: collapse;
  border: none;
}

.load tbody, .load thead {
  display: block;
  max-height: 400px;
  overflow: auto;
}

.load table * {
  border: none;
  border-radius: 0;
  padding: 2px;
}

.load td, .load th {
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
  border-left: none;
  border-right: none;
}

.loadID {
  display: none;
}

.loadJob, .loadShip, .loadSection {
  width: 120px;
}

.loadSubmitBy, .loadDateTime {
  width: 180px;
}

.load th {
  background-color: rgba(82,82,82,0.3);
}

.load tbody tr:nth-child(odd) {
  background-color: rgba(104,185,255,0.65);
}

.load tbody tr:nth-child(even) {
  background-color: #EFF0F2;
}

.load tbody tr:hover:not(.selectedRow) {
  opacity: 0.5;
}

.load .button_bar {
  margin-top: 50px;
}

.load tr.selectedRow {
  border: 2px solid black;
}
