{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block css %}
  {% for x in css %}
  <link type="text/css" rel="stylesheet" href="{% static x %}">
  {% endfor %}
{% endblock %}

{% block content %}
<div class="main-container">
  <h1 class="dev">Remakes\Extras | in development</h1>
  <div class="input textbox" contenteditable>test</div>
  <div class="input checkbox">ck</div>
  <input type="checkbox" name="" value="">
</div>
{% endblock %}
